1.VARIABLE

In [362]:
variable_name='jeeva first code'

In [363]:
print('variable_name')

variable_name

In [364]:
type(variable_name)

str

2.DATA TYPES

In [365]:
#integer
dt_1=123

In [366]:
print('dt_1')

dt_1

In [367]:
print(dt_1)

123

In [368]:
type(dt_1)

int

In [369]:
#float
dt_2=123.123

In [370]:
print(dt_2)

123.123

In [371]:
type(dt_2)

float

In [372]:
#boolean
dt_3=True

In [373]:
type(dt_3)

bool

In [374]:
dt_3

True

In [375]:
#typecasting 
dt_3=bool(0)

In [376]:
print(dt_3)

False

In [377]:
dt_3=bool(1)

In [378]:
dt_3

True

In [379]:
#list mutable can store different datatypes
l1=[1,2,3.3,4,6,6,7,8,7]

In [380]:
print(l1)

[1, 2, 3.3, 4, 6, 6, 7, 8, 7]

In [381]:
type(l1)

list

In [382]:
#TUPLE immutable can store different datatype
t1=(1,2,3.3,3,4,4,44,4.5)

In [383]:
type(t1)

tuple

In [384]:
#SET mutable, and has no duplicate elements
s1={1,2,3,3,4,5,6}

In [385]:
s1

{1, 2, 3, 4, 5, 6}

In [386]:
type(s1)

set

In [387]:
#typecasting a list into a set to remove duplicates and again making it as a list
l2=[1,2,3,3,3,4,5,7]
type(list((set(l2))))

list

In [388]:
set(l2)

{1, 2, 3, 4, 5, 7}

In [389]:
#DICTIONARY
dict_variable={'name':"nick",'fav_clr':'red','fav_num':30}
print(dict_variable)

{'name': 'nick', 'fav_clr': 'red', 'fav_num': 30}

In [390]:
type(dict_variable)

dict

In [391]:
dict_variable['fav_num']

30

In [392]:
dict_variable['name']

'nick'

2.LISTS

In [393]:
#create
num=[23,24,25,26,27,28]

In [394]:
#read
num

[23, 24, 25, 26, 27, 28]

In [395]:
num[0]

23

In [396]:
num[-1]

28

In [397]:
len(num)

6

In [398]:
#update
num[-1]=56
num

[23, 24, 25, 26, 27, 56]

In [399]:
num.append(43)
num

[23, 24, 25, 26, 27, 56, 43]

In [400]:
num.insert(2,89)
num

[23, 24, 89, 25, 26, 27, 56, 43]

In [401]:
#delete
del num[5]

In [402]:
num

[23, 24, 89, 25, 26, 56, 43]

DICTIONARY

In [403]:
#create
food={"name":'biriyani',"quantity":3,"flavour":'nothing'}

In [404]:
#read
food

{'name': 'biriyani', 'quantity': 3, 'flavour': 'nothing'}

In [405]:
food['name']

'biriyani'

In [406]:
food.keys()

dict_keys(['name', 'quantity', 'flavour'])

In [407]:
food.values()

dict_values(['biriyani', 3, 'nothing'])

In [408]:
#update
food['flavour']='dindukal'
food

{'name': 'biriyani', 'quantity': 3, 'flavour': 'dindukal'}

In [409]:
food['price']=340
food

{'name': 'biriyani', 'quantity': 3, 'flavour': 'dindukal', 'price': 340}

In [410]:
#delete
del food['flavour']
food

{'name': 'biriyani', 'quantity': 3, 'price': 340}

4.CONDITIONS AND LOGIC

In [411]:
#applying logic using if statement
name='jeeva'
if name == 'jeeva':
    print("hey hii")

hey hii

In [412]:
#logic of else
probability=0.4
if probability==0.5:
    print('true')
else:
    print('false')

false

In [413]:
#logic of elif (if one statement is correct
# it will not go nd check for other statements)
num=10
if num>20:
    print('num is greater than 20')
elif num<100:
    print('num is smaller than 100')
elif num==50:
    print('num is 50')
else:
    print('num is not 50')

num is smaller than 100

In [414]:
num=30
if num>20:
    print('num is greater than 20')
if num<100:
    print('num is smaller than 100')
if num==50:
    print('num is 50')
else:
    print('num is not 50')

num is greater than 20
num is smaller than 100
num is not 50

In [415]:
#checking a list using if statement
numbers=[30,50,40,60]
numbers

[30, 50, 40, 60]

In [416]:
if 50 in numbers:
    print("number 50 here")

number 50 here

5.LOOPS

In [417]:
#For loop
for numbers in numbers:
    print(numbers)

30
50
40
60

In [418]:
#break for stopping the loop thats why it does not print 60
# continue give next value in the loop
# pass is a placeholder to do nothing
numbers=[20,30,40,50,60]
for numbers in numbers:
    print(numbers)
    if numbers == 30:
        print('hi you reached 40')
        continue
    elif numbers == 50:
        print('hi you reached 50')
        break
    else:
        print ('cannot reach numbers')
        pass
print('happy to have you here!')

20
cannot reach numbers
30
hi you reached 40
40
cannot reach numbers
50
hi you reached 50
happy to have you here!

In [419]:
#loop x number of times
for idx in range (10):
    print(idx)

0
1
2
3
4
5
6
7
8
9

In [420]:
for idx in range(1,11):
    print(idx)

1
2
3
4
5
6
7
8
9
10

In [421]:
#while loop
read_number = 0
total_numbers=5

while True:
    #string formatting
    print('number {} read'.format(read_number+1))
    read_number = read_number+1
    if read_number == total_numbers:
        print('all numbers are read')
        break

number 1 read
number 2 read
number 3 read
number 4 read
number 5 read
all numbers are read

In [422]:
#looping through dictionaries
food={"name":'biriyani',"quantity":3,"flavour":'yes'}

In [423]:
for keys in food.keys():
    print(keys)

name
quantity
flavour

In [424]:
for values in food.values():
    print(values)

biriyani
3
yes

In [425]:
#for looping keys and values at same time
for key , values in food.items():
    print(key)
    print(values,'\n')

name
biriyani

quantity
3

flavour
yes

In [426]:
#list comprehension
names=['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']
new_list = [name.title() for name in names]

In [427]:
new_list

['Neil Armstrong', 'Buzz Aldrin', 'Sally Ride', 'Yuri Gagarin', 'Elon Musk']

In [428]:
names

['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

6.FUNCTIONS

In [429]:
# Defining a function in Python - Recipe 
def launchpad_welcome():
    print('hello')
    print(1+2)
    print(3+4)

In [430]:

# Running our function
launchpad_welcome()

hello
3
7

In [431]:

# String formatting 
print('Welcome {} {}'.format('Elon', 'Musk'))

Welcome Elon Musk

In [432]:
names = ['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']
space_ships=['Galactic 1', ' Galactic 2', 'USS Voyager', 'Maximum Amazin Wow Space Ship', 'Apple iShip']

In [433]:
# Positional Arguments
def custom_welcome(name):
    print('Welcome {}'.format(name))

In [434]:
custom_welcome('Nick Renotte')

Welcome Nick Renotte

In [435]:

for name in names:
    custom_welcome(name)

Welcome neil armstrong
Welcome buzz aldrin
Welcome sally ride
Welcome yuri gagarin
Welcome elon musk

In [436]:
# Multiple positional Arguments - POSITION IS IMPORTANT
def custom_welcome_to_ship(name, space_ship):
    print('Welcome {} to the {}'.format(name, space_ship))

In [437]:

custom_welcome_to_ship('Nick Renotte', 'Galatic 1')

Welcome Nick Renotte to the Galatic 1

In [438]:

# Used the enumerate function to get the positional index AND the name
for idx, name in enumerate(names):
    ship = space_ships[idx]
    custom_welcome_to_ship(name, ship)

Welcome neil armstrong to the Galactic 1
Welcome buzz aldrin to the  Galactic 2
Welcome sally ride to the USS Voyager
Welcome yuri gagarin to the Maximum Amazin Wow Space Ship
Welcome elon musk to the Apple iShip

In [439]:

# This is using keyword arguments
def space_suit(color='Blue'):
    print('Your space suit is {}'.format(color))

In [440]:

space_suit(color='Red')

Your space suit is Red

In [441]:
# Multiple keyword arguments
def space_suit_welcome(name, space_ship, color='Blue', allergies='None'):
    print('Welcome {} to the {}, your space suit is {}, you have {} allergies'.format(name, space_ship, color, allergies))

In [442]:
space_suit_welcome('Elon Musk', 'Apple iShip', allergies='Peanut', color='Orange')

Welcome Elon Musk to the Apple iShip, your space suit is Orange, you have Peanut allergies

In [443]:
# Setup a return statement
def space_suit_welcome_with_return(name, space_ship, color='Blue', allergies='None'):
    return 'Welcome {} to the {}, your space suit is {}, you have {} allergies'.format(name, space_ship, color, allergies)

In [444]:
# Example of storing the results of the function inside a variable
welcome = space_suit_welcome_with_return('Elon Musk', 'Apple iShip')

In [445]:
print(welcome)

Welcome Elon Musk to the Apple iShip, your space suit is Blue, you have None allergies

In [446]:

# Lambda function - anonymous function
pi = lambda x: x*3.14

In [447]:

return_value = pi(2)

In [448]:

print(return_value)

6.28

In [449]:
3.14*2

6.28

5.CLASSES

In [450]:
# Classes as boilerplates for objects
class Person():
    # The method that runs as soon as you create a class - initialise
    def __init__(self, name, age, color):
        # Create some attributes for our person class
        self.name = name 
        self.age = age
        self.color = color
        
    # Date of birth method
    def year_of_birth(self):
        return 2021-self.age
    
    # Projected age 
    def project_age(self, years=5):
        return self.age+years

In [451]:

new_person = Person('Elon Musk', 38, 'blue')

In [452]:

# Accessing a class attribute
new_person.age

38

In [453]:

# Run a method
new_person.year_of_birth()

1983

In [454]:
# Run a method with a keyword argument
new_person.project_age(years=10)

48

6.INHERITANCE

In [455]:
#PARENT is the class passing down attributes and methods = PERSON
#CHILD is the class inheriting the methods and attributes = ASTRONAUT

In [456]:
# Create a child class
class Astronaut(Person):
    
    # Define initialization function
    def __init__(self, name, age, color, mission_length_in_months):
        
        # This is what gives us inheritance - SUPER METHOD
        super().__init__(name, age, color)
        self.mission_length_months = mission_length_in_months
    
    # Method for calculating age on return
    def age_on_return(self):
        return self.project_age(years=int(self.mission_length_months/12))

In [457]:
new_astronaut = Astronaut('Nick', 99, 'purple', 48)

In [458]:

# Access parent like attribute 
new_astronaut.color

'purple'

In [459]:

# Access the methods
new_astronaut.year_of_birth()

1922

In [460]:

# Run a method
new_astronaut.age_on_return()

103

7.MARKDOWN

In [461]:
# Step 1: Add the path to ensure Python knows where to find helpers.py
import sys
sys.path.append(r"C:\Users\jojee\OneDrive\Desktop\learnings\python basics")

# Step 2: Import the function
from helpers import greet_user

# Step 3: Use the function
print(greet_user("elon musk"))

Hello, elon musk! Welcome to the system.

8.PACKAGES

In [462]:
!pip install requests

Requirement already satisfied: requests in c:\users\jojee\appdata\local\programs\python\python312\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jojee\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jojee\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jojee\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jojee\appdata\local\programs\python\python312\lib\site-packages (from requests) (2024.8.30)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [463]:
!pip list

Package                   Version
------------------------- -----------
asttokens                 2.4.1
attrs                     24.2.0
certifi                   2024.8.30
charset-normalizer        3.4.0
colorama                  0.4.6
comm                      0.2.2
debugpy                   1.8.7
decorator                 5.1.1
executing                 2.1.0
fastjsonschema            2.20.0
idna                      3.10
import-ipynb              0.2
ipykernel                 6.29.5
ipython                   8.29.0
jedi                      0.19.1
jsonschema                4.23.0
jsonschema-specifications 2024.10.1
jupyter_client            8.6.3
jupyter_core              5.7.2
matplotlib-inline         0.1.7
nbformat                  5.10.4
nest-asyncio              1.6.0
packaging                 24.1
parso                     0.8.4
pip                       24.2
platformdirs              4.3.6
prompt_toolkit            3.0.48
psutil                    6.1.0
pure_eval                 0.2.3
Pygments                  2.18.0
python-dateutil           2.9.0.post0
pywin32                   308
pyzmq                     26.2.0
referencing               0.35.1
requests                  2.32.3
rpds-py                   0.21.0
six                       1.16.0
stack-data                0.6.3
tornado                   6.4.1
traitlets                 5.14.3
urllib3                   2.2.3
wcwidth                   0.2.13

In [464]:
#import requsts into notebook
import requests

In [476]:
# i can haz dad joke api endpoint
joke_url = 'https://icanhazdadjoke.com'
#chatgpt api endpoint
iss_url = 'https://api.wheretheiss.at/v1/satellites/25544'

In [477]:
#this is setting up a header meta data for your api requests
my_header = {'accept':'application/json'}
#API call
results = requests.get(joke_url, headers=my_header)

In [478]:
json_results=results.json()

In [479]:
json_results

{'id': 'sPfqWDlq4Ed',
 'joke': '"Hey, dad, did you get a haircut?" "No, I got them all cut."',
 'status': 200}

In [480]:
type(json_results)

dict

In [481]:
result_iss=requests.get(iss_url, headers=my_header)

In [482]:
result_iss

In [483]:
result_iss.json()

{'name': 'iss',
 'id': 25544,
 'latitude': 16.207908624419,
 'longitude': 150.16216159357,
 'altitude': 415.71164315986,
 'velocity': 27593.934584862,
 'visibility': 'eclipsed',
 'footprint': 4485.5815594797,
 'timestamp': 1732027875,
 'daynum': 2460634.1189236,
 'solar_lat': -19.662867402058,
 'solar_lon': 313.56777179932,
 'units': 'kilometers'}

9.FILES

In [488]:
#WRITE OUT OUR MISSION JOURNAL
with open('mission_journal.txt', 'w') as f:
    f.write("its my first day on the space mission its very spectacular.")

In [494]:
#READ FROM OUR JOURNAL
with open('mission_journal.txt', 'r') as f:
    file = f.read()

In [495]:
print(file)

its my first day on the space mission its very spectacular.

10.ERROR HANDLING

In [496]:
 #create a set
new_set={1,2,3,4,5,6,7}

In [ ]:
new_set[0]= 4 #this will show a error

TypeError: 'set' object does not support item assignment

In [501]:
#try somthing using try keyword
try: #run a piece of code that cause error
    new_set[0] = 4
except Exception as e: #if we have error this code will run
    print(e) #print out somthing that is nicer for the user
    print("something went wrong with your request")

'set' object does not support item assignment
something went wrong with your request